PRIVATE_KEY=""
NEXT_PUBLIC_APP_NAME=""
NEXT_PUBLIC_CHAIN_ID="11155111"
NEXT_PUBLIC_CONTRACT_ADDRESS=""
NEXT_PUBLIC_LEGACY_CONTRACT_ADDRESSES=""
NEXT_PUBLIC_NETWORK_NAME="Sepolia Testnet"
NEXT_PUBLIC_RPC_URL="https://rpc.sepolia.org"
NEXT_PUBLIC_SECOND_LAST_CONTRACT_ADDRESS=""
NEXT_PUBLIC_THIRD_LAST_CONTRACT_ADDRESSES=""
NEXT_PUBLIC_USDC_ADDRESS=""
RPC_URL="https://ethereum-sepolia.publicnode.com"